
@font-face {
src: url("CursedTimerUlil-Aznm.ttf");
font-family: Scoreboard;
}


body {
    margin: 0;
    color: white;
    background: #CCC;
}

h3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 575px;
    height: 385px;
    margin: 50px auto;
    background: #1B244A;
    border: 5px solid white;
    border-radius: 10px;
}

.sections {
text-align: center;
}

.score-area {
    background: black;
    border-radius: 4px;
    height: 120px;
    width: 155px;
}

.score {
    font-family: Scoreboard;
    color: #F94F6D;
    font-size: 90px;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 45px;
    width: 45px;
    border: 1px solid white;
    color: white;
    margin: 3px;
    font-family: Scoreboard;
    background: #1B244A;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background: #333;
}

.new-game {
    width: 250px;
    padding: 10px 15px;
    display: block;
    font-size: 25px;
    margin: auto;
}
